version: 2.1
jobs:
  install_client:
    docker:
      - image: mstallmo/client-build:latest
    steps:
      - checkout
      - run: |
          npm i -g webpack webpack-cli
          npm install
workflows:
  version: 2
  install_and_build_client:
    jobs:
      - install_client:
          filters:
            branches:
              only: master